<!DOCTYPE html>
<html>
<body>

<h2>Fuentes</h2>


<div><FONT FACE="arial">Texto de prueba 12345 con tipo ARIAL</FONT></div>
<div><FONT FACE="times new roman">Texto de prueba 12345 con tipo TIMES NEW ROMAN</FONT></div>
<div><FONT FACE="courier new">Texto de prueba 12345 con tipo COURIER NEW</FONT></div>
<div><FONT FACE="courier">Texto de prueba 12345 con tipo COURIER</FONT></div>
<div><FONT FACE="roman">Texto de prueba 12345 con tipo ROMAN</FONT></div>
<div><FONT FACE="small fonts">Texto de prueba 12345 con tipo SMALL FONTS</FONT></div>

</body>
</html>