<!DOCTYPE html>
<html>
<body>

<h2>Inicio de sesión</h2>

<form action="/sesion" method="post">
    <label for="fname">Usuario:</label><br>
    <input type="text" id="fname" name="user"><br>
    <label for="lname">Contraseña:</label><br>
    <input type="password" id="lname" name="password"><br><br>
    <input type="submit" value="Enviar">
</form>

</body>
</html>
